server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: springboot-utils-project

  # 日志配置
logging:
  level:
    root: INFO
    com.example.utils: DEBUG
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n'
